.classpath
.project
.settings
.vim/.netrwhist
.vorax/vorax.log
.ctrlp
.bash_history
.viminfo
.composer
.cache
.dbgpavim.cli
.dbgpavim.session
.bashrc_local
.ssh
.mutt
.gem
.git-credentials
.lesshst
.wireshark
.xsession-errors
.xsession-errors.old
.winff
.wakeup
.tvmaxe
.thunderbird
.macromedia
.mozilla
.mplayer
.pam_environment
.pki
.purple
.pySopCast
.qmmp
.remmina
.spumu
.synaptic
.thumbnails
.spumux
.local
.gimp-2.8
.gstreamer-0.10
.gtk-bookmarks
.gtk-recordmydesktop
.hplip
.icons
.initrc
.java
.links2
.config
.copy
.dbus
.devede
.dmrc
.dropbox-dist
.vimperator
.centerim
.adobe
.compiz
.Xauthority
.ICEauthority
.Skype
.dropbox
.subversion
.VirtualBox
.my.cnf
.mysql_history
.gconf
.ivy2
.PlayOnLinux
.opera
.gg
.appdata
.gnome
.kde
.turses
.irssi
.davmail.properties
.speech-dispatcher
.scala_history
.sbt
.install4j
.vboxclient*
.CF
.zcompdump-Marcin’s\ MacBook\ Pro-5.0.2
.CFUserTextEncoding
.DS_Store
.dropbox-master
.zsh_history
.Trash
.vagrant.d
tags
target
test
oracle
Desktop
Pulpit
Obrazy
Pobrane
Documents
Downloads
Pictures
examples.desktop
VirtualBox VMs
davmail.log*
Applications
Library
Movies
Music
Public
src
.hgignore_global
IdeaProjects
.cups
.sqldeveloper
oradiag_marcinbe
.npm
.node-gyp
work
ie
.zcompdump*
.eclipse
.jmc
.rbenv
.m2
.bundler
.pgpass
.psql_history
.bash_profile_smart1
.bash_profile_smart2
.rvm
.IdeaIC14
.IdeaIC15
.idea-build
.pgadmin_histoqueries
.irb-history
.oracle_jre_usage
.keepassx
.rnd
.soapuios
.aws
bin/vim
.IdeaIC2016.3
.sudo_as_admin_successful
.recently-used
.mono
.IntelliJIdea2016.2
.IntelliJIdea2016.3
.android
.docker
.idea
pgadmin.log
.pgadmin3
default-soapui-workspace.xml
