#include "/home/mbedna/xcolors/themes/blackburn"

! xterm ----------------------------------------------------------------------
!xterm*Locale: ISO8859-2
xterm*Locale:             UTF-8 
xterm*faceName:           inconsolatazi4
xterm*faceSize:           10 
xterm*faceSize1:          13
xterm*faceSize2:          12
xterm*faceSize3:          11
xterm*faceSize4:          9
xterm*faceSize5:          8
xterm*faceSize6:          7
xterm*geometry:           180x30+0+0
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          10000 
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            true
xterm*termName:           xterm-256color
xterm*maximized:          1
xterm*selectToClipboard:  true
xterm*visualBell:         false

!xterm*fullscreen: 1
!Ctrl+Alt+Enter - switch to full screen

XTerm.vt100.geometry: 80x32
xterm*VT100.allowWindowOps: true
xterm*VT100.allowTitleOps: true
xterm*VT100.allowFontOps: true
xterm*VT100*translations: #override Meta <Btn1Up>: exec-formatted("chromium-browser '%t'", PRIMARY)
xterm.VT100.blink: false

xterm*VT100.translations: #override \
Ctrl <Key> minus: smaller-vt-font() \n\
Ctrl <Key> plus: larger-vt-font() \n\
Ctrl <Key> KP_Subtract: smaller-vt-font() \n\
Ctrl <Key> KP_Add: larger-vt-font() \n

