[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=mbedna
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -n -c 000000
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=suspend.target
